GALILEO_SECRET_KEY=run: openssl rand -hex 32
GALILEO_PUBLIC_API=http://localhost:8080
# Outbound e-mail (blank host = disabled). For a local sink: host.docker.internal / 1025 / security none
GALILEO_SMTP_HOST=
GALILEO_SMTP_PORT=587
GALILEO_SMTP_USER=
GALILEO_SMTP_PASSWORD=
GALILEO_SMTP_FROM=Galileo <galileo@localhost>
GALILEO_SMTP_SECURITY=starttls
