{
    auto_https off
}

http://galileo.serious-sam.dev {
    encode zstd gzip
    handle /api/ack/* {
        reverse_proxy server:8080
    }
    handle {
        reverse_proxy web:3000
    }
}

http://galileo-api.serious-sam.dev {
    encode zstd gzip
    handle_path /otlp/* {
        reverse_proxy server:4318
    }
    handle {
        reverse_proxy server:8080
    }
}
